@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&family=Roboto+Flex:opsz,wght@8..144,500&family=Roboto+Slab&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

body{
    background-color: brown;
}


#fontWeightStyle{
    border : 1px solid black;
    height : 200px;
    font-family: 'Roboto Flex', sans-serif;

}

#fontWeightStyle p{

    font-weight: normal;
}

.repeatedBold{
    font-weight: 800;
    color : blue;
}
#Pseudo{
    display:grid;
    grid-template-columns: repeat(5, auto);
    gap: 5px;
    padding-top: 5px;
}
.button{
    border: 1px solid black;
}

.button{
    border-radius: 5px;
    box-shadow: -2px 2px 3px black;
    cursor: pointer;
}
.button:active{
    border-radius: 30px;
    box-shadow: -2px 2px 3px black;
}


.button:nth-last-child(2n+1):hover{
    background-color: whitesmoke;
}

.button:hover{
    background-color: aquamarine;

}

#menu div:nth-child(3n + 1){
    background-color: brown;

}